flows(2).json
[
    {
        "id": "0ac53a8983c99fcf",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "27368f4625604ee9",
        "type": "inject",
        "z": "0ac53a8983c99fcf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Texto de prueba Hola",
        "payloadType": "str",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "659f75499ada34c7"
            ]
        ]
    },
    {
        "id": "8a57a09c76fe82d0",
        "type": "inject",
        "z": "0ac53a8983c99fcf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "etiqueta1",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "18eb747e4da93ea2",
                "3ec77d460ff13630"
            ]
        ]
    },
    {
        "id": "8a0450d4011a6a92",
        "type": "inject",
        "z": "0ac53a8983c99fcf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "etiqueta 2",
        "payload": "5",
        "payloadType": "num",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "18eb747e4da93ea2",
                "3ec77d460ff13630"
            ]
        ]
    },
    {
        "id": "39697e22de40d842",
        "type": "inject",
        "z": "0ac53a8983c99fcf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "18eb747e4da93ea2",
                "3ec77d460ff13630"
            ]
        ]
    },
    {
        "id": "659f75499ada34c7",
        "type": "ui_text",
        "z": "0ac53a8983c99fcf",
        "group": "7ba58854fc704862",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "texto de prueba- label",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "3ec77d460ff13630",
        "type": "ui_gauge",
        "z": "0ac53a8983c99fcf",
        "name": "",
        "group": "88ecde1776e0f254",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": " {{msg.topic}}.",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "18eb747e4da93ea2",
        "type": "ui_chart",
        "z": "0ac53a8983c99fcf",
        "name": "",
        "group": "88ecde1776e0f254",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": " {{msg.topic}}.",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7ba58854fc704862",
        "type": "ui_group",
        "name": "Texto- Group 1",
        "tab": "c78af39861194a33",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "88ecde1776e0f254",
        "type": "ui_group",
        "name": "Graficos - Group 2",
        "tab": "c78af39861194a33",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c78af39861194a33",
        "type": "ui_tab",
        "name": "Flow 3",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]